{#
/**
 * @file Etabs
 */
#}
{% if regular or extra %}
  {{ attach_library('etabs/styling') }}
  <div class="etabs__container">
    {% if regular %}
      <div class="etabs__regular">
        <h2 class="visually-hidden">{{ 'Primary regular tabs'|t }}</h2>
        <ul>{{ regular }}</ul>
      </div>
    {% endif %}
    {% if extra %}
      <div class="etabs__extra">
        <h2 class="visually-hidden">{{ 'Primary extra tabs'|t }}</h2>
        <ul>{{ extra }}</ul>
      </div>
    {% endif %}
  </div>
{% endif %}
